<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>나혼자여행</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap-4.1.3-dist/css/bootstrap.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="/javascripts/ui.js"></script>
  <script src="/javascripts/base.js"></script>
  <script src="/javascripts/main_js.js"></script>
</head>

<body>
  <header>
    <div class="header">
      <div class="headTop">
        <span class="logo">
          <a href="/">
            <img class="img-responsive center-block" src="/images/logo.png" alt="logo">
          </a>
        </span>
        <!-- loginArea : 로그인 전 -->
        <div class="loginArea" style="width:125px;">
          <a href="/login">로그인</a>
          <span>|</span>
          <a href="/join">회원가입</a>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <h2><label for="purpose1" style="position:absolute;left:15%;width:304px;margin-left:-152px;">여행지 추천</label></h2>
    <div id="sub_contents" class="conbody">
      <form action="/tour/my_tour" id="course_search" name="course_search" method="post">
        <input type="hidden" name="search_word" id="search_word">
        <div class="checkbox2">
          <div class="checks2 group">
            <div class="item">
              <a href="/course_family">
                <img class="img-responsive center-block" src="/images/family_course.png">
                <label for="purpose0">가족여행</label>
              </a>
            </div>
            <div class="item">
              <a href="/course_friend">
                <img class="img-responsive center-block" src="/images/friend_course.png">
                <label for="purpose1">우정여행</label>
              </a>
            </div>
            <div class="item">
              <a href="/course_couple">
                <img class="img-responsive center-block" src="/images/couple_course.png">
                <label for="purpose2">커플여행</label>
              </a>
            </div>
            <div class="item">
              <a href="/course_alone">
                <img class="img-responsive center-block" src="/images/alone_course.png">
                <label for="purpose3">나혼자여행</label>
              </a>
            </div>
          </div>
        </div>
        <div><br></div>
      </form>

      <div class="board">

        <div class="magT20"></div> <!-- 높이띄우기용 탑마진20 빈div -->
        <div class="board_list">
          <%
            var busan_attraction = new Array();
            var seoul_attraction = new Array();
            var gongju_attraction = new Array();
            var jeonju_attraction = new Array();
            var pohang_attraction = new Array();
            var gangneung_attraction = new Array();
            var sunchun_attraction = new Array();

            var vbusan = 0;
            var vseoul = 0;
            var vgongju = 0;
            var vjeonju = 0;
            var vpohang = 0;
            var vgangneung= 0;
            var vsunchun= 0;

            for(var i = 0; i<rows.length; i++){
              att = rows[i];
              if(att.r_name == '서울'){
                seoul_attraction[vseoul] = att.a_name;
                vseoul++;
              }
              else if(att.r_name == '강릉'){
                gangneung_attraction[vgangneung] = att.a_name;
                vgangneung++;
              }
              else if(att.r_name == '부산'){
                busan_attraction[vbusan] = att.a_name;
                vbusan++
              }
              else if(att.r_name == '전주'){
                jeonju_attraction[vjeonju] = att.a_name;
                vjeonju++
              }
              else if(att.r_name == '포항'){
                pohang_attraction[vpohang] = att.a_name;
                vpohang++
              }
              else if(att.r_name == '순천'){
                sunchun_attraction[vsunchun] = att.a_name;
                vsunchun++
              }
              else if(att.r_name == '공주'){
                gongju_attraction[vgongju] = att.a_name;
                vgongju++
              }
            }
          %>

          <div class="list_li">
            <div class="simg">

              <p class="text" style="position:relative;left:25%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <서울></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<seoul_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:25%;"><span class="icon_n_arrow">다음</span>
                  <%=seoul_attraction[i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>

          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <강릉></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<gangneung_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=gangneung_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <부산></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<busan_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=busan_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <전주></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<jeonju_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=jeonju_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <포항></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<pohang_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=pohang_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <순천></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<sunchun_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=sunchun_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="list_li">

              <p class="text" style="position:relative;left:5%;"><a href="/board/view.busan?boardId=ATTRACTION&amp;menuCd=DOM_000000101001013000&amp;dataSid=275"> 나혼자여행 추천 여행지 <공주></a></p>

              <dd class="tourist">
                <%
                for(var i = 0; i<gongju_attraction.length; i++){

                %>
                <p class="text" style="position:relative;left:5%;"><span class="icon_n_arrow">다음</span>
                  <%=gongju_attraction [i]%>
                </p>
                <%
              }
              %>
              </dd>
          </div>
          <div class="brclear"></div>

        </div>

  </nav>
</body>

</html>
